<% 
  const format2 = 'MMM DD YYYY hh:mm:ss';
  const format = 'MMMM Do YYYY, h:mm:ss a'
  for (let i = remarks.length - 1; i >= 0; i--) { 
  const remark = remarks[i];
  
  if (!remark) continue; // Skip if there's no remark at all
  
  const { dueDate, date, status, comment, id, experience } = remark;

  if(experience) { 
    var { lists } = JSON.parse(experience)
    var {office, division, banner, salary, startdate, enddate, position, employment } = lists[0] 
    var employeeDivision = division
    var employeeBanner = banner
  }
  
  // Format dates
  const displayDate = dueDate ? moment(dueDate).fromNow() : `<a href="#" data-bs-toggle="modal" data-bs-target="#remarksModal" data-action="update">Set</a>`;
  const now = moment()
  const startTime = moment(date);
  const endTime = moment(dueDate);

  const duration = moment.duration(endTime.diff(now));
  const remainingHours = duration.hours();
  const remainingMinutes = duration.minutes();
  const remainingSeconds = duration.seconds();

  
  // Calculate duration
  <!-- const displayDate2 = moment.duration(endTime.diff(startTime)).humanize(); -->
  <!-- const displayDate2 = endTime.toNow() -->
  const displayDate2 = `${remainingHours}h: ${remainingMinutes}m: ${remainingSeconds}s`

  // Handle dueDate display fallback
  const duedate = dueDate ? displayDate : displayDate;
  
  // Class for status
  const statusClass = (status === 'dark') ? `feed-item-black` : status ? `feed-item-${status}` : 'feed-item-default'; // Default class if no status
  
  let tooltipHTML = 'data-bs-toggle="tooltip" data-bs-placement="left" '
  switch(status) {
    case 'dark':
    case 'black':
      tooltipHTML += 'data-bs-title="Back to office"'
    break;
    case 'secondary':
      tooltipHTML += 'data-bs-title="Lack of Signature"'
    break;
    case 'info':
      tooltipHTML += 'data-bs-title="Lack of Attachments"'
    break;
    case 'success':
      tooltipHTML += 'data-bs-title="Read to move"'
    break;
    case 'warning':
      tooltipHTML += 'data-bs-title="Waiting"'
    break;
    case 'danger':
      tooltipHTML += 'data-bs-title="Issue occured"'
    break;
    default:
      tooltipHTML += 'data-bs-title="For Approval"'
  }
%>

  <% if (remark.status) { %>
    <li id="remark-<%=id%>" class="feed-item <%- statusClass %> d-flex justify-content-between" data-index="<%- i %>" data-startdate="<%- moment(date).format(format) %>" data-duedate="<%- moment(dueDate).format(format) %>" <%-tooltipHTML%>>
      <div class="d-flex">
        <span class="user fs-2 mr-3"><i class="far fa-user-circle"></i></span>
        <div class="">
          <div class="username"><%- remark.user %> <i class="fas fa-sitemap"></i> <%- banner || division %></div>
          <div class="text">
            <span class="badge badge-<%- (status === 'dark') ? 'black' : ((i % 2 === 0) ? 'success' : 'info') %> mr-3">
              <%- (i % 2 === 0) ? 'In' : 'Out' %>
            </span>
            <%- comment %>
          </div>
        </div>
      </div>
      <div>
        <time class="date hidden" datetime="<%- moment(date).format(format) %>">
          <%- moment(date).format(format) %>
        </time>
        <span id="timeCheck" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="<%- moment(date).format(format) %>"><%- displayDate %></span>
      </div>
    </li>
  <% } %>

<% } %>

<!-- Remarks from published -->
<li class="feed-item feed-item-black pb-0 d-flex justify-content-between" data-order="first" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Out of office">
  <div class="d-flex">
    <span class="user fs-3 mr-3"><i class="fas fa-door-open"></i></span>
    <div class="">
      <time class="date" datetime="<%- moment(transactions.pr_date).format(format) %>">
        <%- moment(transactions.pr_date).format(format) %>
      </time>
      <span class="text">
        <span class="badge badge-black mr-3">Out</span>
        Purchase request created date
      </span>
    </div>
  </div>
</li>
