<%
  const { amounts, abcs, disbursements } = datasets
%>
<div class="card">
  <div class="card-header">
    <div class="card-head-row card-tools-still-right">
      <div class="card-title"><%= title %></div>
      <div class="card-tools">
        <div class="dropdown">
          <button class="btn btn-icon btn-clean me-0" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-h"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div id="myChartLegend"></div>
          </div>
        </div>
      </div>
    </div>
    
    
  </div>
  <div class="card-body">
  <% if (description) { %>
    <div class="card-sub"><%- description %></div>
  <% } %>
    <div class="chart-container">
      <canvas 
        id="lineChart" 
        style="width: 20%; height: 10%" 
        data-amounts="<%= JSON.stringify(amounts) %>" 
        data-disbursements="<%= JSON.stringify(disbursements) %>" 
        data-abcs="<%= JSON.stringify(abcs) %>"
      ></canvas>
    </div>
  </div>
</div>