<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%- title || '...' -%> — Department of Agriculture 7</title>
    <meta
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
      name="viewport"
    />
    <link
      rel="icon"
      href="/assets/img/favicon.ico"
      type="image/x-icon"
    />

    <!-- Fonts and icons -->
    <script src="/demo/assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
      WebFont.load({
        google: { families: ["Public Sans:300,400,500,600,700"] },
        custom: {
          families: [
            "Font Awesome 5 Solid",
            "Font Awesome 5 Regular",
            "Font Awesome 5 Brands",
            "simple-line-icons",
          ],
          urls: ["/demo/assets/css/fonts.min.css"],
        },
        active: function () {
          sessionStorage.fonts = true;
        },
      });
      
    </script>
    <!-- QR Code -->
    <script src="/assets/js/plugins/qrcode/qrcode.min.js"></script>

    <!-- <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script> -->

    <script type="module" src="/assets/js/head.js"></script>
    <!-- CSS Themes Files -->
    <link rel="stylesheet" href="/demo/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/demo/assets/css/plugins.min.css" />
    <link rel="stylesheet" href="/demo/assets/css/kaiadmin.min.css" />
    <link rel="stylesheet" href="/demo/assets/css/demo.css" />

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="/assets/css/upload.css" />
    <link rel="stylesheet" href="/assets/css/media.css" />

    <!-- Client CSS -->
    <link rel="stylesheet" href="/assets/css/scanner.css" />
    <link rel="stylesheet" href="/assets/css/timer.css" />
    <link rel="stylesheet" href="/assets/css/animation.css" />
    <link rel="stylesheet" href="/assets/css/print.css" />
    <link rel="stylesheet" href="/assets/css/transactions.css" />

    <!-- Index  CSS -->
    <link rel="stylesheet" href="/assets/css/index.css" />
      
    <% 
      if(typeof styles !== 'undefined' && styles) { const extractedStyles = Object.entries(styles).map(([title, source]) => ({
          title,
          source
        }));
        extractedStyles.forEach(({ title, source }) => {
    %>
        <link rel="stylesheet" href="<%= source %>" />
    <% }); } %>
      
  </head>

  <body class='<%= hasAllowedRole(["SuperAdmin"]) ? "superclass" : "" %> <%= SESSION_USER ? "userLogged" : ""%>' data-env="<%= ENVIRONMENT %>" data-testmode="<%= TEST_MODE %> %>">

<% 
  const { divisions } = JSON.parse(DEPARTMENT)

  if(SESSION_USER){
    const { employeeid, username, firstname, lastname, middlename, experience, roles } = SESSION_USER;
    const { lists } = JSON.parse(experience)
    let { office, salary, startdate, enddate, position, division, section, banner } = lists[0] 
   // section = section.toUpperCase()

  const safeMiddle = middlename?.trim();
  const fullname = safeMiddle
    ? `${firstname} ${safeMiddle[0]}. ${lastname}`
    : `${firstname} ${lastname}`;

%>
  <input 
    id="created_by" 
    type="hidden"
    value="<%= JSON.stringify({employeeid, name: fullname }) %>" 
    data-responsible="<%= JSON.stringify(getUserResponsible(division, section)) %>"
    data-user-role="<%= roles %>"
    data-has-allowed-roles="<%= hasAllowedRole(roles) %>"
    />
  <input 
    id="sessionUser"
    type="hidden"
    data-details="<%= JSON.stringify(SESSION_USER_LOG) %>"
    />
  <input 
    id="assignedTransactions" 
    type="hidden"
    value='' 
    />
<% } %>