<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%- title || '...' -%> — Department of Agriculture 7</title>
    <meta
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
      name="viewport"
    />
    <link
      rel="icon"
      href="/assets/img/da-logo.ico"
      type="image/x-icon"
    />

    <!-- Fonts and icons -->
    <script src="/assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
      WebFont.load({
        google: { families: ["Public Sans:300,400,500,600,700"] },
        custom: {
          families: [
            "Font Awesome 5 Solid",
            "Font Awesome 5 Regular",
            "Font Awesome 5 Brands",
            "simple-line-icons",
          ],
          urls: ["/assets/css/fonts.min.css"],
        },
        active: function () {
          sessionStorage.fonts = true;
        },
      });
      
    </script>
    <script src="/assets/js/core/qrcode.min.js"></script>
    <!-- <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script> -->

    <script type="module" src="/assets/js/head.js"></script>
    <!-- CSS Files -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/plugins.min.css" />
    <link rel="stylesheet" href="/assets/css/kaiadmin.min.css" />

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="/assets/css/upload.css" />
    <link rel="stylesheet" href="/assets/css/media.css" />

    <link rel="stylesheet" href="/assets/css/demo.css" />
    <link rel="stylesheet" href="/assets/css/scanner.css" />
    <link rel="stylesheet" href="/assets/css/timer.css" />
    <link rel="stylesheet" href="/assets/css/animation.css" />
    <link rel="stylesheet" href="/assets/css/print.css" />
    <link rel="stylesheet" href="/assets/css/transactions.css" />
    <style>
      body {
        &.superclass {
          --primary-green: #386641;
          --primary-orange: #F97A00;
          --secondary-orange: #FED16A;
          --bs-white: #FFF4A4;

          background: var(--bs-white);
        }
        &.superclass {
          [data-background-color=green2] {
            background: var(--primary-green) !important;
          }
          [data-background-color=orange2] {
            background: var(--primary-orange) !important;
          }
          [data-background-color="white"] {
          }
        }
      }
      .nav .nav-item p {
        width: 100%;
      }
      [data-head="Notice Title"] .progress {
        height: 5px;
      }

      
    </style>
  </head>

  <body class='<%= hasAllowedRole(["SuperAdmin"]) ? "superclass" : "" %> <%= SESSION_USER ? "userLogged" : ""%>' data-env="<%= ENVIRONMENT %>" data-testmode="<%= TEST_MODE %> %>">

<% 
  const { divisions } = JSON.parse(DEPARTMENT)

  if(SESSION_USER){
    const { employeeid, username, firstname, lastname, middlename, experience, roles } = SESSION_USER;
    const { lists } = JSON.parse(experience)
    let { office, salary, startdate, enddate, position, division, section, banner } = lists[0] 
    section = section.toUpperCase()

%>
  <input 
    id="created_by" 
    type="hidden"
    value="<%= JSON.stringify({employeeid, name: `${firstname} ${middlename[0]} ${lastname}` }) %>" 
    data-responsible="<%= JSON.stringify(getUserResponsible(division, section)) %>"
    data-user-role="<%= roles %>"
    data-has-allowed-roles="<%= hasAllowedRole(roles) %>"
    />
  <input 
    id="sessionUser"
    type="hidden"
    data-details="<%= JSON.stringify(SESSION_USER_LOG) %>"
    />
<% } %>