<%- include('header') -%>

<div class="wrapper">
    <%- include('sidebar') -%>
    <div class="main-panel">
        <%- include('../views/main-header') -%>
        <%- include(innerContent) -%>
    </div>
</div>

<%- include('footer') -%>