<% 
    var {blood_type, civil_status, citizenship, gender} = defaultData 
    var {divisions, banner_program} = dafaultTransactionData
%>


<div class="modal modal-lg fade" id="addEmployeeModal" tabindex="-1" aria-labelledby="addEmployeeLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="addEmployeeLabel">Employee Details</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group form-group-default">
                  <label>First Name</label>
                  <input
                    id="firstname"
                    name="firstname"
                    type="text"
                    class="form-control"
                    placeholder="Juan"
                    autocomplete="none"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-group-default">
                  <label>Last Name</label>
                  <input
                    id="lastname"
                    name="lastname"
                    type="text"
                    class="form-control"
                    placeholder="Tamad"
                    autocomplete="none"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group form-group-default">
                  <label>Middle Name</label>
                  <input
                    id="middlename"
                    name="middlename"
                    type="text"
                    class="form-control"
                    placeholder="Cruz"
                    autocomplete="none"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-group-default">
                  <label>Date of Birth</label>
                  <input
                    id="dob"
                    name="dob"
                    type="date"
                    class="form-control"
                    placeholder=""
                    autocomplete="none"
                  />
                </div>
              </div>
            </div>
            <label class="form-label">Name Extension</label>
            <div class="selectgroup w-100">
              <label class="selectgroup-item">
                <input
                type="radio"
                name="nameExtension[]"
                value=""
                class="selectgroup-input"
                checked="true"
                />
                <span class="selectgroup-button">N/A</span>
              </label>
              <label class="selectgroup-item">
                  <input
                  type="radio"
                  name="nameExtension[]"
                  value="JR"
                  class="selectgroup-input"
                  />
                  <span class="selectgroup-button">JR</span>
              </label>
              <label class="selectgroup-item">
                  <input
                  type="radio"
                  name="nameExtension[]"
                  value="Sr"
                  class="selectgroup-input"
                  />
                  <span class="selectgroup-button">SR</span>
              </label>
              <label class="selectgroup-item">
                  <input
                  type="radio"
                  name="nameExtension[]"
                  value="I"
                  class="selectgroup-input"
                  />
                  <span class="selectgroup-button">I</span>
              </label>
              <label class="selectgroup-item">
                  <input
                  type="radio"
                  name="nameExtension[]"
                  value="II"
                  class="selectgroup-input"
                  />
                  <span class="selectgroup-button">II</span>
              </label>
              <label class="selectgroup-item">
                  <input
                  type="radio"
                  name="nameExtension[]"
                  value="III"
                  class="selectgroup-input"
                  />
                  <span class="selectgroup-button">III</span>
              </label>
              <label class="selectgroup-item">
                  <input
                  type="radio"
                  name="nameExtension[]"
                  value="IV"
                  class="selectgroup-input"
                  />
                  <span class="selectgroup-button">IV</span>
              </label>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group form-group-default">
                  <label>Email Address:</label>
                  <input
                    id="emailadd"
                    name="emailadd"
                    type="text"
                    class="form-control"
                    autocomplete="none"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-group-default">
                  <label>Mobile #</label>
                  <input
                    id="mobile"
                    name="mobile"
                    type="tel"
                    class="form-control"
                    autocomplete="none"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group-default">
                  <label>Gender</label>
                  <select
                      class="form-select"
                      id="gender"
                      name="gender"
                    >
                    <% gender.forEach(status=> { %><option value="<%= status %>"><%= status %></option><% }); %>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group-default">
                  <label>Civil Status</label>
                  <select
                    class="form-select"
                    id="civilstatus"
                    name="civilstatus"
                  >
                  <% civil_status.forEach(status=> { %>
                    <option value="<%= status %>"><%= status %></option>
                    <% }); %>
                  </select>
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col-md-6">
                <div class="form-group form-group-default">
                  <label>Office</label>
                  <input
                    id="companyname"
                    name="companyname"
                    type="text"
                    class="form-control"
                    placeholder="DA RFO7"
                    autocomplete="none"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-group-default">
                  <label>Employee ID</label>
                  <input
                    id="employeeid"
                    name="employeeid"
                    type="number"
                    class="form-control"
                    placeholder=""
                    autocomplete="none"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-group-default">
                  <label>Division</label>
                  <select
                      class="form-select"
                      id="division"
                      name="division"
                    >
                    <% divisions.forEach(division=> { %><option value="<%= division %>"><%= division %></option><% }); %>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-group-default">
                  <label>Banner</label>
                  <select
                      class="form-select"
                      id="banner"
                      name="banner"
                    >
                    <% banner_program.forEach(banner=> { %><option value="<%= banner %>"><%= banner %></option><% }); %>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-group-default">
                  <label>Position</label>
                  <input
                    id="position"
                    name="position"
                    type="text"
                    class="form-control"
                    placeholder=""
                    autocomplete="none"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-group-default">
                  <label>Employment</label>
                  <select
                      class="form-select"
                      id="employment"
                      name="employment"
                    >
                    <% var {appointments} = defaultData
                    appointments.forEach(appointment=> { %>
                    <option value="<%= appointment.type %>"><%= appointment.type %></option>
                    <% }); %>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-group-default">
                  <label>Salary</label>
                  <input
                    id="salary"
                    name="salary"
                    type="number"
                    class="form-control"
                    placeholder=""
                    autocomplete="none"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-group-default">
                  <label>Date Started</label>
                  <input
                    id="startdate"
                    type="date"
                    class="form-control"
                    placeholder=""
                    autocomplete="none"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <a href="#" type="button" class="btn button btn-link" id="predataRegisterEmployee"><i class="icon-user-follow"></i> Preload</a>
            <button type="button" class="btn btn-primary btn-border" data-bs-dismiss="modal"><i class="icon-close"></i> Close</button>
            <a href="#" type="submit" class="btn button btn-primary" id="registerEmployee"><i class="icon-user-follow"></i> Register</a>
        </div>
      </div>
    </div>
  </div>