<%
  const { permissions } = JSON.parse(DEPARTMENT)
  const { roles, can } = permissions
%>
<div class="modal fade" id="rolesModal" tabindex="-1" aria-labelledby="rolesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="rolesModalLabel">Set Roles</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="form-group">
              <label class="form-label">Roles:</label>
              <select class="form-select" id="roles">
              <% roles.forEach(data =>{ 
                const { role, permissions } = data
                %>
                <option <%= role=='viewer' ? 'selected' : '' -%> title="<%= role %>" value="<%= role %>" data-permissions="<%=JSON.stringify(permissions)%>"><%= role %></option>
              <% }) %>
              </select>
            </div>
            <div class="form-group">
              <label>Permissions:</label>
              <div id="permissions-container" class="selectgroup selectgroup-pills">
                <% can.forEach(permission=>{ %>
                  <label class="selectgroup-item">
                    <input type="checkbox" name="value" value="<%=permission%>" class="selectgroup-input">
                    <span class="selectgroup-button"><%=permission%></span>
                  </label>
                <% }) %>
              </div>
            </div>
            <div class="form-group">
              <label>Components:</label>
              <div id="components-container" class="selectgroup selectgroup-pills">
                <label class="selectgroup-item">
                  <input type="checkbox" name="value" value="Employees" class="selectgroup-input">
                  <span class="selectgroup-button">Communications</span>
                </label>
                <label class="selectgroup-item">
                  <input type="checkbox" name="value" value="Employees" class="selectgroup-input">
                  <span class="selectgroup-button">Employees</span>
                </label>
                <label class="selectgroup-item">
                  <input type="checkbox" name="value" value="Transactions" class="selectgroup-input" checked>
                  <span class="selectgroup-button">Transactions</span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-border" data-bs-dismiss="modal">Close</button>
          <a id="setRoles" href="#" type="button" class="btn button btn-primary">Add New Role</a>
        </div>
      </div>
    </div>
  </div>