<div class="container">
    <div class="page-inner">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
            <div>
                <h3 class="fw-bold mb-3"><%- title -%></h3>
                <h6 class="op-7 mb-2">Lists of individuals working on the Department</h6>
            </div>
            <div class="ms-md-auto py-2 py-md-0">
                <a id="manageBtn" href="#" class="btn btn-label-info btn-round me-2" data-component="employees" data-column="8">Manage</a>
                <a href="#" class="btn btn-primary btn-round" data-bs-toggle="modal" data-bs-target="#addEmployeeModal"><i class="fas fa-plus"></i> Add New</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <!-- <h4 class="card-title">List of Employees</h4> -->
                    <div class="card-head-row card-tools-still-right">
                      <div class="card-title">List of <%=title%></div>
                      <div class="card-tools">
                        <button id="refreshEmployees" class="btn btn-icon btn-link btn-primary btn-xs btn-refresh-card" data-component="employees">
                          <span class="fa fa-sync-alt"></span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table
                        id="employees"
                        class="display table table-striped table-hover"
                      >
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>
                            <th>Salary</th>
                            <th>Username</th>
                            <th>Password</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr class="text-uppercase">
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>
                            <th>Salary</th>
                            <th>Username</th>
                            <th>Password</th>
                            <th>Action</th>
                          </tr>
                        </tfoot>
                        <tbody>
                          <%
                            if (employees.length > 0) { 
                              let preUsers = employees
                              preUsers.forEach(function(user){ 
                              var {firstname, lastname, middlename, extname, birthdate, experience, username, password, employeeid} = user 
                              var { lists } = experience ? JSON.parse(experience) : {}
                              
                              if (lists) {
                                var { office, salary, status, enddate, position, startdate, employment, arrangements } = lists[0];
                              }
                              
                              var today = moment()
                              var age = today.diff(birthdate, 'years')
                          %>
                            <tr data-employeeid="<%=employeeid%>">
                              <td data-column="name"><%= [firstname, lastname].filter(Boolean).join(' ') %></td>
                              <td data-column="position"><%= position || '-' %></td>
                              <td data-column="office"><%= office || '-' %></td>
                              <td data-column="age"><%= age %></td>
                              <td data-column="startdate"><%= moment(startdate).format('LL') || '-' %></td>
                              <td data-column="salary"><%= peso(salary) || '-' %></td>
                              <td data-column="username"><%= username %></td>
                              <td data-column="password"><%= password ? '•••••••' : '' %></td>
                              <td>
                                <div class="form-button-action" data-employeeid="<%= employeeid %>" data-employee="<%= JSON.stringify(user) %>">
                                  <a href="/employees/<%= employeeid %>" data-transid="<%= employeeid %>" type="button" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="View Employee">
                                    <i class="fa fa-eye"></i>
                                  </a>
                                  <a href="/employees/<%= employeeid %>/update" data-transid="<%= employeeid %>" type="button" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Edit Employee">
                                    <i class="fa fa-edit"></i>
                                  </a>
                                  <button data-id="<%= employeeid %>" data-name="<%= [firstname, middlename ? middlename.charAt(0) + '.' : '', lastname, extname].filter(Boolean).join(' ') %>" type="button" data-bs-toggle="tooltip" title="Delete?" class="btn btn-link btn-danger" data-original-title="Remove"  id="alert_<%= employeeid %>">
                                    <i class="fa fa-times"></i>
                                  </button>
                                </div>
                              </td>
                            </tr>
                          <% }) } else { %>
                            <tr>
                              <td class="text-center" colspan="9">No Records is Found</td>
                            </tr>
                          <% }  %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>