<!-- Header Template -->
<%- include('../../views/header') -%>

<div class="wrapper">
    <%- include('../../views/sidebar') -%>

    <div class="main-panel">
      <%- include('../../views/main-header') -%>

      <div class="container" >
          <div class="page-inner">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
              <div>
                  <h3 class="fw-bold mb-3"><%- title -%></h3>
                  <h6 class="op-7 mb-2">List of request like Purchase Request, Travel Order, and etc...</h6>
              </div>
              <div class="ms-md-auto py-2 py-md-0">
                <a id="manageBtn" href="#" class="btn btn-label-info btn-round me-2" data-component="transactions" data-column="11">Manage</a>
                <a href="/transactions/new" class="btn btn-primary btn-round"><i class="fas fa-plus"></i> Add New</a>
                <!-- data-bs-toggle="modal" data-bs-target="#addTransactionModal" -->
              </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                      <div class="card-header">
                        <div class="card-head-row card-tools-still-right">
                          <div class="card-title">List of <%=title%></div>
                          <div class="card-tools">
                            <button id="refreshTransactions" class="btn btn-icon btn-link btn-primary btn-xs btn-refresh-card" data-component="transactions">
                              <span class="fa fa-sync-alt"></span>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="table-responsive">
                          <table
                            id="transactions-datatables"
                            class="display table table-striped table-hover"
                          >
                            <thead>
                              <tr class="text-uppercase">
                                <th>ID</th>
                                <th>Notice Title</th>
                                <th>Requistioner</th>
                                <th>Division</th>
                                <th>Date</th>
                                <th>Budget</th>
                                <th>Fund Sources</th>
                                <th>Codes</th>
                                <th>Banner</th>
                                <th>Classification</th>
                                <th>Unit</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tfoot>
                              <tr class="text-uppercase">
                                <th>ID</th>
                                <th>Notice Title</th>
                                <th>Requistioner</th>
                                <th>Division</th>
                                <th>Date</th>
                                <th>Budget</th>
                                <th>Fund Sources</th>
                                <th>Codes</th>
                                <th>Banner</th>
                                <th>Classification</th>
                                <th>Unit</th>
                                <th>Action</th>
                              </tr>
                            </tfoot>
                            <tbody>
                              <% 
                                for(var i=0; i < transactions.length; i++) { 
                                  var {pr_date, approved_budget, product_id, pr_classification, banner_program, bid_notice_title, requisitioner, division, fund_source, bac_unit, trans_code } = transactions[i]
                                  
                                  <!-- date = moment(pr_date).format('Do MMM YYYY') -->
                                  <!-- date = moment(pr_date).format('x') -->
                                  date = moment(pr_date).format('L')
                                 
                                  var budget = approved_budget
                                  var cleanBudget = budget.replace(/,/g, '');

                                  budget = parseFloat(cleanBudget)
                              %>
                               
                                <tr data-transaction="<%= JSON.stringify(transactions[i]) %>">
                                  <td data-head="Product ID"><%= product_id %></td>
                                  <td data-head="Notice Title"><%= bid_notice_title %></td>
                                  <td data-head="Requistioner"><%= requisitioner %></td>
                                  <td data-head="Division"><%= division %></td>
                                  <td data-head="PR Date" data-value="<%= moment(pr_date).format('Do MMM YYYY') %>"><%= date %></td>
                                  <td data-head="Budget" data-budget="<%= budget %>" data-typeOf="<%= typeof budget %>" class="align-right"><%= budget %></td>
                                  <td data-head="Fund Sources"><%= fund_source %></td>
                                  <td data-head="Codes"><%- trans_code -%></td>
                                  <td data-head="Banner"><%= banner_program %></td>
                                  <td data-head="Classification"><%= pr_classification %></th>
                                  <td data-head="BAC"><%= bac_unit %></td>
                                  <td data-head="Actions">
                                    <div class="form-button-action" data-transid="<%= product_id %>" data-transaction="<%= JSON.stringify(transactions[i]) %>">
                                      <button data-transid="<%= product_id %>" type="button" class="btn btn-link  btn-primary" data-bs-toggle="modal" data-bs-target="#viewTransactionModal" data-bs-whatever="<%= product_id %>" data-original-title="Edit Task">
                                        <i class="fa fa-eye"></i>
                                      </button>
                                      <a href="/transactions/<%= product_id %>/edit" data-transid="<%= product_id %>" type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task">
                                        <i class="fa fa-edit"></i>
                                      </a>
                                      <button data-transid="<%= product_id %>" type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"  id="alert_demo_<%= product_id %>">
                                        <i class="fa fa-times"></i>
                                      </button>
                                    </div>
                                  </td>
                                </tr>
                              <% } %>
                             </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
      </div>

    </div>
    <%# include('../../views/settings') #%>
</div>
<!-- Transaction Modal: View -->
<%- include('../../components/modals/transactions/view') -%>
<!-- Transaction Modal: New -->
<%- include('../../components/modals/transactions/add') -%>
<!-- --------------- -->
<script src="/assets/js/components/transactions.js"></script>
<!-- Footer Template -->
<%- include('../../views/footer') -%>