
<%- include('../../views/header') -%>
<div class="wrapper">
    <%- include('../../views/sidebar') -%>
    <div class="main-panel">
      <%- include('../../views/main-header') -%>
        <div class="container">
            <div class="documentToPrint legal s-border">
                <%
                    var {approved_budget : budget} = transactions 
                    var cleanBudget = budget.replace(/,/g, '');

                    budget = parseFloat(cleanBudget)
                %>
                <div class="wrapper trackingsheet">
                    <div id="transid-<%=transactions.product_id%>" class="qrcode" data-qrcode="<%=transactions.product_id%>"></div>
                    <header class="text-center">
                        <h1><span class="text-uppercase">Tracking Sheet </span><span class="text-lowercase">for</span> <%= budget > 1000000 ? 'Public Bidding' : 'SVP'  %></h1>
                        <h4>Department of Agriculture RFO7</h4>
                        <table>
                            <thead>
                                <tr>
                                    <td class="text-start" style="width: 40px;">Item</td>
                                    <td class="underline text-start lh-1"  style="width:350px;"><%= transactions.bid_notice_title %></td>
                                    <td style="width: 40px;">PR #</td>
                                    <td class="underline text-white" style="width: 200px;"></td>
                                    <td style="width: 40px;">ABC ₱</td>
                                    <td class="underline"><%= peso(budget) %></td>
                                </tr>
                            </thead>
                        </table>
                    </header>
                    <table id="trackingSheetTable" class="display text-center" style="width:100%">
                        <thead class="fw-bolder">
                            <tr>
                                <th rowspan="2">OFFICE/Person Responsible</th>
                                <th rowspan="2" width="100">NAME</th>
                                <th rowspan="2" width="100">SIGNATURE</th>
                                <th colspan="2" width="50">DATE</th>
                                <th rowspan="2" width="200">REMARKS</th>
                            </tr>
                            <tr>
                                <th width="80">IN</th>
                                <th width="80">OUT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%= console.log(remarks) %>
                            <tr>
                                <td title="Responsible" class="text-start">1. End-User</td>
                                <td title="Name"></td>
                                <td title="Signature"></td>
                                <td title="Date In"></td>
                                <td title="Date Out"></td>
                                <td title="Remarks" class="text-start lh-1"></td>
                            </tr>
                            <tr>
                                <td title="Responsible" class="text-start">2. Division Chief</td>
                                <td title="Name"></td>
                                <td title="Signature"></td>
                                <td title="Date In"></td>
                                <td title="Date Out"></td>
                                <td title="Remarks" class="text-start lh-1"></td>
                            </tr>
                            <tr>
                                <td class="text-start">3. Budget Section</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="text-start">4. Procurement Section (PS)</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="text-start">5. BAC Secretariat</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="text-start">6. Procurement Section (PS)</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="text-start">7. Canvassers</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="text-start">7.1 Supplier/Contractors</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="text-start">8. BAC & BAC Sec.</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="text-start">9. Procurement Section (PS)</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="text-start">10. RED/RTD</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="text-start">11. BAC Sec./ Procurement Section (PS)</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="text-start">12. Procurement Section (PS)</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="text-start">13. End-User/Program Coor./Division Chief</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="text-start">14. Budget Section</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="text-start">15. Accounting Section</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="text-start">16. RED/RTD</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="text-start">17. General Services Section</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="text-start">18. RED/RTD</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="text-start">19. BAC Sec.</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="text-start">20. GS/RAED/End-User</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="text-start">21. Inspectors</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="text-start">22. End-Users</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="text-start">23. GS/End-Users</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="text-start">24. End-Users</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="text-start">25. Accounting Section</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="text-start">26. Division Chief</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="text-start">27. Cashering Unit</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="text-start">28. Accounting Section</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="text-start">29. RED/RTD/Admin Chief</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="text-start">30. Cashering Unit</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../../views/footer') -%>