<!-- Header Template -->
<%- include('../../views/header') -%>
<% if(transactions) { %>
<div class="wrapper">
    <%- include('../../views/sidebar') -%>

    <div class="main-panel">
      <%- include('../../views/main-header') -%>
      
      <div class="container" data-transaction-id="<%- transactions.product_id -%>">
          <div class="page-inner">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
              <div class="col-md-1 mr-4">
                <div id="transid-<%- transactions.product_id -%>" class="qrcode" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="<%- transactions.product_id -%>"></div>
              </div>
              <div class="col-md-8">
                  <h3 class="fw-bold mb-3"><%- transactions.bid_notice_title -%></h3>
              </div>
              <div class="ms-md-auto py-2 py-md-0">
                  <a href="/transactions/<%- transactions.product_id -%>/print" class="btn btn-label-info btn-round me-2" id="btnPrint"><i class="fas fa-print"></i> Print</a>
                  <a href="#" class="btn btn-primary btn-round" data-bs-toggle="modal" data-bs-target="#remarksModal"><i class="fas fa-plus"></i> Add Remarks</a>
              </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                      <div class="card-header">
                        <div class="card-head-row">
                          <div class="card-title">Details</div>
                          <div class="card-tools">
                            <ul class="nav nav-pills nav-secondary nav-pills-no-bd nav-sm" id="pills-tab" role="tablist">
                              <li class="nav-item submenu" role="presentation" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="PR Classification">
                                <span class="nav-link active" id="pills-today" data-bs-toggle="pill" href="#pills-today" role="tab" aria-selected="false" tabindex="-1" aria-labelledby="pills-today"><%- transactions.pr_classification -%></span>
                              </li>
                              <% if(transactions?.banner_program) { %>
                              <li class="nav-item" role="presentation" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Banner Program">
                                <span class="nav-link" id="pills-week" data-bs-toggle="pill" href="#pills-week" role="tab" aria-selected="false" aria-labelledby="pills-week" tabindex="-1"><%- transactions.banner_program -%></span>
                              </li>
                              <% } %>
                              <% if(transactions?.bac_unit) { %>
                              <li class="nav-item submenu" role="presentation" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="BAC Unit">
                                <span class="nav-link" id="pills-month" data-bs-toggle="pill" href="#pills-month" role="tab" aria-selected="false" tabindex="-1" aria-labelledby="pills-month"><%- transactions.bac_unit -%></span>
                              </li>
                              <% } %>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="d-flex">
                          <div class="avatar">
                            <span class="avatar-title rounded-circle border border-white bg-secondary"><i class="fas fa-user-circle"></i></span>
                          </div>
                          <div class="flex-1 ms-3 pt-1">
                            <h6 class="text-uppercase fw-bold mb-1">
                              <%- transactions.requisitioner -%>
                              <span class="badge badge-success" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Division"><%- transactions.division -%></span>
                            </h6>
                            <span class="text-muted">Requisitioner</span>
                          </div>
                          <div class="float-end pt-1">
                          </div>
                        </div>
                        <div class="separator-dashed"></div>
                        <div class="d-flex">
                          <div class="avatar">
                            <span class="avatar-title rounded-circle border border-white bg-secondary"><i class="fas fa-calendar-alt"></i></span>
                          </div>
                          <div class="flex-1 ms-3 pt-1">
                            <h6 class="text-uppercase fw-bold mb-1">
                              
                              <span><%- moment(transactions.pr_date).format('LL') -%></span>
                            </h6>
                            <span class="text-muted">Created Date</span>
                          </div>
                          <div class="float-end pt-1">
                          </div>
                        </div>
                        <div class="separator-dashed"></div>
                        <div class="d-flex">
                          <div class="avatar">
                            <span class="avatar-title rounded-circle border border-white bg-info">₱</span>
                          </div>
                          <div class="flex-1 ms-3 pt-1">
                            <h6 class="text-uppercase fw-bold mb-1">
                              <%
                                var {approved_budget : budget} = transactions 
                                var cleanBudget = budget.replace(/,/g, '');

                                budget = parseFloat(cleanBudget)
                              %>
                              <%- peso(budget) -%>
                              <span class="text-warning ps-3" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Fund Source"><%- transactions.fund_source -%></span>
                            </h6>
                            <span class="text-muted">Purchase Request Budget</span>
                          </div>
                          <div class="float-end pt-1">
                            <small class="text-muted"></small>
                          </div>
                        </div>
                        <div class="separator-dashed"></div>
                        <div class="d-flex">
                          <div class="avatar">
                            <span class="avatar-title rounded-circle border border-white bg-secondary"><i class="fas fa-hashtag"></i></span>
                          </div>
                          <div class="flex-1 ms-3 pt-1">
                            <h6 class="text-uppercase fw-bold mb-1">
                            <% if(transactions?.trans_code && isValidJSON(transactions.trans_code)) { 
                              trans_code = JSON.parse(transactions.trans_code)
                              trans_code.forEach(function(code){ if(code) { %>
                              <span class="badge badge-count"><%= code %></span>
                              <% } })%>
                            <% } else { %>
                              <span class="badge badge-count"><%= transactions?.trans_code %></span>
                            <% } %>
                            </h6>
                            <span class="text-muted">Purchase Request Number</span>
                          </div>
                          <div class="float-end pt-1">
                            <button  data-bs-toggle="modal" data-bs-target="#codeModal" id="addTransactionCodes" class="btn btn-icon btn-link op-8 me-1">
                              <i class="fas fa-plus-circle" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add PR Number"></i>
                            </button>
                          </div>
                        </div>
                        <div class="separator-dashed"></div>
                        <div class="d-flex">
                          <div class="avatar">
                            <span class="avatar-title rounded-circle border border-white bg-secondary"><i class="fas fa-truck"></i></span>
                          </div>
                          <div class="flex-1 ms-3 pt-1">
                            <h6 class="text-uppercase fw-bold mb-1">
                            <% if(transactions?.trans_code && isValidJSON(transactions.trans_code)) { 
                              trans_code = JSON.parse(transactions.trans_code)
                              trans_code.forEach(function(code){ if(code) { %>
                              <span class="badge badge-count"><%= code %></span>
                              <% } })%>
                            <% } else { %>
                              <span class="badge badge-count"><%= transactions?.trans_code %></span>
                            <% } %>
                            </h6>
                            <span class="text-muted">Purchase Order Number</span>
                          </div>
                          <div class="float-end pt-1">
                            <button  data-bs-toggle="modal" data-bs-target="#purchaseOrderNumberModal" id="" class="btn btn-icon btn-link op-8 me-1">
                              <i class="fas fa-plus-circle" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add PO Number"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="col-md-6">
                  <div class="card">
                    <div class="card-header">
                      <div class="card-head-row card-tools-still-right">
                        <div class="card-title">Recent Activity</div>
                        <div class="card-tools">
                          <button id="refreshActivity" class="btn btn-icon btn-link btn-primary btn-xs btn-refresh-card" data-transid="<%- transactions.product_id -%>" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Refresh">
                            <span class="fa fa-sync-alt"></span>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <ol class="activity-feed mb-0">
                        <%- include('../../views/partials/activity-feed') -%>
                      </ol>
                    </div>
                  </div>
                </div>
            </div>
          </div>
      </div>
      
    </div>
</div>

<!-- Transaction: Remarks -->
<%- include('../../components/modals/transactions/remark') -%>
<!-- Transaction: Codes -->
<%- include('../../components/modals/transactions/code') -%>
<!-- Transaction: PO Number -->
<%- include('../../components/modals/transactions/po') -%>
<!-- <script src="/assets/js/components/transactions.js"></script> -->
<script> 
  new QRCode(`transid-<%- transactions.product_id %>`, `<%- transactions.product_id %>`); 
</script>
<% } %>
<!-- Footer Template -->
<%- include('../../views/footer') -%>