<!-- Header Template -->
<%- include('../views/header') -%>

<div class="wrapper">
    <%- include('../views/sidebar') -%>

    <div class="main-panel">
        <%- include('../views/main-header') -%>

        <div class="container">
            <div class="page-inner">
                <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
                    <div>
                        <h3 class="fw-bold mb-3"><%- title -%></h3>
                        <h6 class="op-7 mb-2">Lists of individuals working on the Department</h6>
                    </div>
                    <div class="ms-md-auto py-2 py-md-0">
                        <a href="#" class="btn btn-label-info btn-round me-2">Manage</a>
                        <a href="#" class="btn btn-primary btn-round"><i class="fas fa-plus"></i> Add New</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                          <div class="card-header">
                            <h4 class="card-title">List of Employees</h4>
                          </div>
                          <div class="card-body">
                            <div class="table-responsive">
                              <table
                                id="employees"
                                class="display table table-striped table-hover"
                              >
                                <thead>
                                  <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Office</th>
                                    <th>Age</th>
                                    <th>Start date</th>
                                    <th>Salary</th>
                                    <th>Username</th>
                                    <th>Password</th>
                                    <!-- <th>Action</th> -->
                                  </tr>
                                </thead>
                                <tfoot>
                                  <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Office</th>
                                    <th>Age</th>
                                    <th>Start date</th>
                                    <th>Salary</th>
                                    <th>Username</th>
                                    <th>Password</th>
                                  </tr>
                                </tfoot>
                                <tbody>
                                  <%
                                    if (employees) { 
                                      let preUsers = employees
                                      preUsers.forEach(function(user){ 
                                      var {firstname, lastname, middlename, birthdate, experience, username, password} = user 
                                      var { list } = experience ? JSON.parse(experience) : {}
                                      
                                      if (list) {
                                        var { office, salary, status, enddate, position, startdate, employment, arrangements } = list[0];
                                      }
                                      
                                      var today = moment()
                                      var age = today.diff(birthdate, 'years')

                                      console.log(list)
                                  %>
                                    <tr>
                                      <td data-column="name"><%= [firstname, lastname].filter(Boolean).join(' ') %></td>
                                      <td data-column="position"><%= position || '-' %></td>
                                      <td data-column="office"><%= office || '-' %></td>
                                      <td data-column="age"><%- age %></td>
                                      <td data-column="startdate"><%= startdate || '-' %></td>
                                      <td data-column="salary"><%= salary || '-' %></td>
                                      <td data-column="username">username</td>
                                      <td data-column="password">password</td>
                                    </tr>
                                  <% }) } else { %>
                                    <tr>
                                      <td>No Records is Found</td>
                                    </tr>
                                  <% }  %>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Header Template -->
<%- include('../views/footer') -%>