<!-- Header Template -->
<%- include('../views/header') -%>
<% 
  // const { transactions } = cardsData
  
  // Destructuring the object
  const {
    employees: { row_count: employeesRowCount, total_sum: employeesTotalSum },
    transactions: { row_count: transactionsRowCount, total_sum: transactionsTotalSum },
    notifications: { row_count: notificationsRowCount, total_sum: notificationsTotalSum }
  } = cardsData;

  let componentTransaction = transactions
  let componentActivity = activities


  // componentTransaction = JSON.parse(JSON.stringify(componentTransaction))

  const parseAmount = (str) => parseFloat(str.replace(/,/g, '').trim()) || 0;

  const monthlyTotals = {};

  componentTransaction.forEach(({ pr_date, fund_source }) => {
    const month = new Date(pr_date).toLocaleString('default', { month: 'long', year: 'numeric' });
    fund_source = JSON.parse(fund_source);
    const totalAmount = fund_source.reduce((sum, entry) => sum + parseAmount(entry.amount), 0);

    monthlyTotals[month] = (monthlyTotals[month] || 0) + totalAmount;
  });

  const months = Object.entries(monthlyTotals).map(([key, _]) => key.split(" ")[0]);
  const jsonMonths = JSON.stringify(months);
  const values = Object.entries(monthlyTotals).map(([_, value]) => value);

  const latestStepsByProduct = {}
  const latestStepsByProduct2 = {}
  let arrayProductIds = []

  componentActivity.forEach(entry => {
    const { product_id, steps_number, status } = entry;

    if(!latestStepsByProduct[product_id] || steps_number > latestStepsByProduct[product_id]) {
      // latestStepsByProduct[product_id] = steps_number;
      if (!latestStepsByProduct2[steps_number] && status === 'pending') {
        latestStepsByProduct2[steps_number] = [];
      }
      if(status === 'pending') {
        latestStepsByProduct2[steps_number].push(product_id);
      }
    } 
  })

  // const stepsIndex = Object.values(latestStepsByProduct).map(key => STEPS.getTitle(Number(key)));
  // const stepsValues = Object.keys(latestStepsByProduct)

  const stepsIndex = Object.keys(latestStepsByProduct2).map(key => STEPS.getTitle(Number(key)));
  const stepsValues = Object.values(latestStepsByProduct2).map(productIds => {
    const length = productIds.length
    // console.log('Distribution', length)
    // const title = STEPS.getTitle(Number(length))
    return length
  });
%>
<div class="wrapper" data-transactions="<%=JSON.stringify({latestStepsByProduct2, stepsIndex, stepsValues})%>">
  <%- include('../views/sidebar') -%>

  <div class="main-panel">
    <%- include('../views/main-header') -%>

    <div class="container">
      <div class="page-inner">  
        <div
          class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4"
        >
          <div>
            <h3 class="fw-bold mb-3">Dashboard</h3>
            <h6 class="op-7 mb-2">Department of Agriculture - Regional Field Office 7</h6>
          </div>
          <div class="ms-md-auto py-2 py-md-0">
            <a href="#" class="btn btn-label-info btn-round me-2 hidden">Manage</a>
            <a href="/transactions/scan" class="btn btn-primary btn-round"><i class="fas fa-qrcode"></i> Scan Transaction</a>
          </div>
        </div>
        <div class="row <%= hasAllowedRole(['Admin', 'SuperAdmin']) ? '' : 'hidden' %>">
          <div class="col-sm-6 col-md-3 hidden">
            <div class="card card-stats card-round">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-icon">
                    <div
                      class="icon-big text-center icon-primary bubble-shadow-small"
                    >
                      <i class="fas fa-inbox"></i>
                    </div>
                  </div>
                  <div class="col col-stats ms-3 ms-sm-0">
                    <div class="numbers">
                      <p class="card-category">Transactions</p>
                      <h4 class="card-title"><%=transactionsRowCount%></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 hidden">
            <div class="card card-stats card-round">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-icon">
                    <div
                      class="icon-big text-center icon-info bubble-shadow-small"
                    >
                      <i class="fas fa-users"></i>
                    </div>
                  </div>
                  <div class="col col-stats ms-3 ms-sm-0">
                    <div class="numbers">
                      <p class="card-category">Employees</p>
                      <h4 class="card-title"><%=employeesRowCount%></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="card card-stats card-round">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-icon">
                    <div
                      class="icon-big text-center icon-success bubble-shadow-small"
                    >
                      <i class="fas fa-piggy-bank"></i>
                    </div>
                  </div>
                  <div class="col col-stats ms-3 ms-sm-0">
                    <div class="numbers">
                      <p class="card-category">Total ABC Transactions</p>
                      <h4 class="card-title" data-totalBudget="<%= transactionsTotalSum %>"><%= UTILS.peso(transactionsTotalSum) %></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 hidden">
            <div class="card card-stats card-round">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-icon">
                    <div
                      class="icon-big text-center icon-secondary bubble-shadow-small"
                    >
                      <i class="fas fa-dolly-flatbed"></i>
                    </div>
                  </div>
                  <div class="col col-stats ms-3 ms-sm-0">
                    <div class="numbers">
                      <p class="card-category">Total Disbursement</p>
                      <h4 class="card-title">2</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row <%= hasAllowedRole(['User']) ? '' : 'hidden' %>">
          <div class="col-sm-2 col-md-2">
            <div class="card card-stats card-round">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-icon">
                    <div
                      class="icon-big text-center icon-primary bubble-shadow-small"
                    >
                      <i class="fas fa-inbox"></i>
                    </div>
                  </div>
                  <div class="col col-stats ms-3 ms-sm-0">
                    <div class="numbers">
                      <p class="card-category">Transactions</p>
                      <h4 class="card-title"><%=transactionsRowCount%></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-2 col-md-2">
            <div class="card card-stats card-round">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-icon">
                    <div
                      class="icon-big text-center icon-primary bubble-shadow-small text-white"
                    >
                      GS
                    </div>
                  </div>
                  <div class="col col-stats ms-3 ms-sm-0">
                    <div class="numbers">
                      <p class="card-category">General Service</p>
                      <h4 class="card-title">3</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-2 col-md-2">
            <div class="card card-stats card-round">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-icon">
                    <div
                      class="icon-big text-center icon-primary bubble-shadow-small text-white"
                    >
                     PS
                    </div>
                  </div>
                  <div class="col col-stats ms-3 ms-sm-0">
                    <div class="numbers">
                      <p class="card-category">Procurement</p>
                      <h4 class="card-title">1</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-2 col-md-2">
            <div class="card card-stats card-round">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-icon">
                    <div
                      class="icon-big text-center icon-primary bubble-shadow-small text-white"
                    >
                      BS
                    </div>
                  </div>
                  <div class="col col-stats ms-3 ms-sm-0">
                    <div class="numbers">
                      <p class="card-category">Budget</p>
                      <h4 class="card-title">2</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-2 col-md-2">
            <div class="card card-stats card-round">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-icon">
                    <div
                      class="icon-big text-center icon-primary bubble-shadow-small text-white"
                    >
                      AS
                    </div>
                  </div>
                  <div class="col col-stats ms-3 ms-sm-0">
                    <div class="numbers">
                      <p class="card-category">Accounting</p>
                      <h4 class="card-title">1</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-2 col-md-2">
            <div class="card card-stats card-round">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-icon">
                    <div
                      class="icon-big text-center icon-primary bubble-shadow-small text-white"
                    >
                      CS
                    </div>
                  </div>
                  <div class="col col-stats ms-3 ms-sm-0">
                    <div class="numbers">
                      <p class="card-category">Cashiering</p>
                      <h4 class="card-title">1</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6">
            <%- include('../components/charts/multipleLine', { title: "Purchase Request", description: "", datasets: {months:jsonMonths, amounts:[], abcs: values, disbursements: []} }) -%>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3" >
            <%- include('../components/charts/pie', { id:"chartClassification", title: "PR Classification", datasets: perClassification }) -%>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <%- include('../components/charts/doughnut', {title: "Distribution Analytics", datasets: {points: stepsValues, labels: stepsIndex} }) -%>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <%- include('../components/datatables/index') -%>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 hidden">
            <div class="card card-round">
              <div class="card-body pb-0">
                <div class="h1 fw-bold float-end text-primary">+5%</div>
                <h2 class="mb-2"><%=employeesRowCount%></h2>
                <p class="text-muted">Users online</p>
                <div class="pull-in sparkline-fix">
                  <div id="lineChart"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row hidden">
          <div class="col-md-4">
            <div class="card card-round">
              <div class="card-body">
                <div class="card-head-row card-tools-still-right">
                  <div class="card-title">New Customers</div>
                  <div class="card-tools">
                    <div class="dropdown">
                      <button
                        class="btn btn-icon btn-clean me-0"
                        type="button"
                        id="dropdownMenuButton"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        <i class="fas fa-ellipsis-h"></i>
                      </button>
                      <div
                        class="dropdown-menu"
                        aria-labelledby="dropdownMenuButton"
                      >
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#"
                          >Something else here</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-list py-4">
                  <div class="item-list">
                    <div class="avatar">
                      <img
                        src="assets/img/jm_denis.jpg"
                        alt="..."
                        class="avatar-img rounded-circle"
                      />
                    </div>
                    <div class="info-user ms-3">
                      <div class="username">Jimmy Denis</div>
                      <div class="status">Graphic Designer</div>
                    </div>
                    <button class="btn btn-icon btn-link op-8 me-1">
                      <i class="far fa-envelope"></i>
                    </button>
                    <button class="btn btn-icon btn-link btn-danger op-8">
                      <i class="fas fa-ban"></i>
                    </button>
                  </div>
                  <div class="item-list">
                    <div class="avatar">
                      <span
                        class="avatar-title rounded-circle border border-white"
                        >CF</span
                      >
                    </div>
                    <div class="info-user ms-3">
                      <div class="username">Chandra Felix</div>
                      <div class="status">Sales Promotion</div>
                    </div>
                    <button class="btn btn-icon btn-link op-8 me-1">
                      <i class="far fa-envelope"></i>
                    </button>
                    <button class="btn btn-icon btn-link btn-danger op-8">
                      <i class="fas fa-ban"></i>
                    </button>
                  </div>
                  <div class="item-list">
                    <div class="avatar">
                      <img
                        src="assets/img/talha.jpg"
                        alt="..."
                        class="avatar-img rounded-circle"
                      />
                    </div>
                    <div class="info-user ms-3">
                      <div class="username">Talha</div>
                      <div class="status">Front End Designer</div>
                    </div>
                    <button class="btn btn-icon btn-link op-8 me-1">
                      <i class="far fa-envelope"></i>
                    </button>
                    <button class="btn btn-icon btn-link btn-danger op-8">
                      <i class="fas fa-ban"></i>
                    </button>
                  </div>
                  <div class="item-list">
                    <div class="avatar">
                      <img
                        src="assets/img/chadengle.jpg"
                        alt="..."
                        class="avatar-img rounded-circle"
                      />
                    </div>
                    <div class="info-user ms-3">
                      <div class="username">Chad</div>
                      <div class="status">CEO Zeleaf</div>
                    </div>
                    <button class="btn btn-icon btn-link op-8 me-1">
                      <i class="far fa-envelope"></i>
                    </button>
                    <button class="btn btn-icon btn-link btn-danger op-8">
                      <i class="fas fa-ban"></i>
                    </button>
                  </div>
                  <div class="item-list">
                    <div class="avatar">
                      <span
                        class="avatar-title rounded-circle border border-white bg-primary"
                        >H</span
                      >
                    </div>
                    <div class="info-user ms-3">
                      <div class="username">Hizrian</div>
                      <div class="status">Web Designer</div>
                    </div>
                    <button class="btn btn-icon btn-link op-8 me-1">
                      <i class="far fa-envelope"></i>
                    </button>
                    <button class="btn btn-icon btn-link btn-danger op-8">
                      <i class="fas fa-ban"></i>
                    </button>
                  </div>
                  <div class="item-list">
                    <div class="avatar">
                      <span
                        class="avatar-title rounded-circle border border-white bg-secondary"
                        >F</span
                      >
                    </div>
                    <div class="info-user ms-3">
                      <div class="username">Farrah</div>
                      <div class="status">Marketing</div>
                    </div>
                    <button class="btn btn-icon btn-link op-8 me-1">
                      <i class="far fa-envelope"></i>
                    </button>
                    <button class="btn btn-icon btn-link btn-danger op-8">
                      <i class="fas fa-ban"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </div>
  <!-- End Custom template -->
</div>
<!-- Footer Template  -->
<%- include('../views/footer') -%>