<!-- Header Template -->
<%- include('../views/header') -%>
<div class="wrapper">
  <%- include('../views/sidebar') -%>
  <div class="main-panel">
    <%- include('../views/main-header') -%>
    <div class="container">
      <div class="row">
      
      <div class="container">
            <div class="row hidden">
                <div class="col-sm-3">
                    <div class="panel panel-dark-outline tabs-panel">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs type-document">
                                <li class="active"><a data-toggle="tab" href=".documents-panel" aria-expanded="true"> <i class="fa fa-file"></i> Documents</a></li>
                                <li class=""><a data-toggle="tab" href=".images-panel" aria-expanded="false"><i class="fa fa-file-image-o"></i> Images </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9  tab-content no-bg no-border">
                    <div class="tab-pane active documents documents-panel">
                        <div class="document success">
                            <div class="document-body">
                                <i class="fa fa-file-excel-o text-success"></i>
                            </div>
                            <div class="document-footer">
                                <span class="document-name"> Excel database 2017 </span>
                                <span class="document-description"> 1.2 MB </span>
                            </div>
                        </div>
                        <div class="document">
                            <div class="document-body">
                                <i class="fa fa-file-excel-o text-success"></i>
                            </div>
                            <div class="document-footer">
                                <span class="document-name"> Excel database 2016 </span>
                                <span class="document-description"> 1.1 MB </span>
                            </div>
                        </div>
                        <div class="document info">
                            <div class="document-body">
                                <i class="fa fa-file-word-o text-info"></i>
                            </div>
                            <div class="document-footer">
                                <span class="document-name"> Word file 2017 </span>
                                <span class="document-description"> 932 KB </span>
                            </div>
                        </div>
                        <div class="document">
                            <div class="document-body">
                                <i class="fa fa-file-word-o text-info"></i>
                            </div>
                            <div class="document-footer">
                                <span class="document-name"> Word file 2016 </span>
                                <span class="document-description"> 426 MB </span>
                            </div>
                        </div>
                        <div class="document warning">
                            <div class="document-body">
                                <i class="fa fa-file-powerpoint-o text-warning"></i>
                            </div>
                            <div class="document-footer">
                                <span class="document-name"> Presentation 2017 </span>
                                <span class="document-description"> 2.7 MB </span>
                            </div>
                        </div>
                        <div class="document">
                            <div class="document-body">
                                <i class="fa fa-file-powerpoint-o text-warning"></i>
                            </div>
                            <div class="document-footer">
                                <span class="document-name"> Presentation 2016 </span>
                                <span class="document-description"> 1.9 MB </span>
                            </div>
                        </div>
                        <div class="document danger">
                            <div class="document-body">
                                <i class="fa fa-file-pdf-o text-danger"></i>
                            </div>
                            <div class="document-footer">
                                <span class="document-name"> PDF file 2017 </span>
                                <span class="document-description"> 5.3 MB </span>
                            </div>
                        </div>
                        <div class="document">
                            <div class="document-body">
                                <i class="fa fa-file-pdf-o text-danger"></i>
                            </div>
                            <div class="document-footer">
                                <span class="document-name"> PDF file 2016 </span>
                                <span class="document-description"> 4.4 MB </span>
                            </div>
                        </div>
                        <div class="document dark">
                            <div class="document-body">
                                <i class="fa fa-file-video-o text-dark"></i>
                            </div>
                            <div class="document-footer">
                                <span class="document-name text-dark"> Video file 2017 </span>
                                <span class="document-description"> 18.2 MB </span>
                            </div>
                        </div>
                        <div class="document">
                            <div class="document-body">
                                <i class="fa fa-file-video-o text-dark"></i>
                            </div>
                            <div class="document-footer">
                                <span class="document-name"> Video file 2016 </span>
                                <span class="document-description"> 23.7 MB </span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane documents images-panel">
                        <div class="document">
                            <div class="document-body">
                                <img src="https://bootdey.com/img/Content/avatar/avatar6.png">
                            </div>
                            <div class="document-footer">
                                <span class="document-name"> Forest.png </span>
                                <span class="document-description"> 1.2 MB </span>
                            </div>
                        </div>
                        <div class="document">
                            <div class="document-body">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png">
                            </div>
                            <div class="document-footer">
                                <span class="document-name"> Developer.png </span>
                                <span class="document-description"> 2.5 MB </span>
                            </div>
                        </div>
                        <div class="document">
                            <div class="document-body">
                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png">
                            </div>
                            <div class="document-footer">
                                <span class="document-name"> Meeting.png </span>
                                <span class="document-description"> 1.1 MB </span>
                            </div>
                        </div>
                        <div class="document">
                            <div class="document-body">
                                <img src="https://bootdey.com/img/Content/avatar/avatar3.png">
                            </div>
                            <div class="document-footer">
                                <span class="document-name"> Hiking.png </span>
                                <span class="document-description"> 3.5 MB </span>
                            </div>
                        </div>
                        <div class="document">
                            <div class="document-body">
                                <img src="https://bootdey.com/img/Content/avatar/avatar6.png">
                            </div>
                            <div class="document-footer">
                                <span class="document-name"> Developers meeting.png </span>
                                <span class="document-description"> 862 KB </span>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-9  tab-content no-bg no-border">
                <% 

                    files.forEach(file => { 
                        const {name, size, type} = file

                        const extensionStyles = [
                            { extensions: ['doc', 'docx'], style: 'info', icon: 'fa-file-word' },
                            { extensions: ['pdf'], style: 'danger', icon: 'fa-file-pdf' },
                            { extensions: ['xls', 'xlsx'], style: 'success', icon: 'fa-file-excel' },
                            { extensions: ['ppt', 'pptx'], style: 'warning', icon: 'fa-file-powerpoint' },
                        ];

                        let style = 'default';
                        let logo = 'fa-unlink';
                        
                        for (const config of extensionStyles) {
                            if (config.extensions.includes(type)) {

                                style = config.style;
                                logo =  config.icon;
                               
                %>
                    <div class="document <%= style %>">
                        <div class="document-body">
                            <a href="<%= basePath %>/<%= `${name}` %>">
                                <i class="fas <%= logo %> text-<%= style %>"></i>
                            </a>
                        </div>
                        <div class="document-footer">
                            <span class="document-name"> <%= name %> </span>
                            <span class="document-description"> <%= size %> </span>
                        </div>
                    </div>
                    <!-- <img src="<%= basePath %>/<%= file %>" alt="<%= file %>" width="200" /> -->
                <%  break; } }  }) %>
                </div>

            </div>
        </div>
      </div>  
    </div>
  </div>
</div>
<!-- Footer Template  -->
<%- include('../views/footer') -%>