<!-- Header Template -->
<%- include('../views/header') -%>

<div class="wrapper">
    <%- include('../views/sidebar') -%>

    <div class="main-panel">
      <%- include('../views/main-header') -%>

      <div class="container" >
          <div class="page-inner">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
              <div>
                  <h3 class="fw-bold mb-3"><%- title -%></h3>
                  <h6 class="op-7 mb-2">Scan QRCode like Purchase Request, Travel Order, and etc...</h6>
              </div>
              <div class="ms-md-auto py-2 py-md-0">
                <a id="manageBtn" href="#" class="btn btn-label-info btn-round me-2" data-component="transactions" data-column="11">Manage</a>
                <a href="#" class="btn btn-primary btn-round hidden" data-bs-toggle="modal" data-bs-target="#remarksModal"><i class="fas fa-plus"></i> Add Remarks</a>
                <a id="assignedto" href="#" class="btn btn-primary btn-round"><i class="fas fa-plus"></i> Assign to Me</a>
              </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                      <div class="card-header">
                        <h4 class="card-title">Scanner</h4>
                      </div>
                      <!-- HIDDEN camera for now -->
                      <div class="card-body">
                        <!-- Camera here -->
                        <video id="qrcodeScanner" autoplay></video>
                        <div id="qrCodeData" class="mt-2">QR Code data will appear here...</div>

                        <!-- Include jsQR library from CDN -->
                        <script src="https://cdn.jsdelivr.net/npm/jsqr/dist/jsQR.js"></script>
                        <!-- HTTPS needed in order for the camera to run -->
                      </div>
                      <div class="card-action">
                        <div class="form-group">
                          <label for="basic-url">Enter your QRCode here</label>
                          <div class="input-group mb-3 h1">
                            <span class="input-group-text" id="basic-addon3"><i class="fas fa-qrcode"></i></span>
                            <input type="text" class="form-control" id="qrCodeText" aria-describedby="basic-addon3">
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title">Transaction #</h4>
                            </div>
                        </div>
                      <div class="card-body">
                        <div class="col-md-12">
                          <table id="basicDatatables" class="display table table-striped table-hover dataTable" role="grid">
                              <thead>
                                <tr role="row">
                                  <th>Title</th>
                                  <th>Type</th>
                                  <th>Requisitioner</th>
                                </tr>
                              </thead>
                              <tfoot>
                                <tr role="row" class="text-uppercase">
                                  <th>Title</th>
                                  <th>Type</th>
                                  <th>Requisitioner</th>
                                </tr>
                              </tfoot>
                              <tbody>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
          </div>
      </div>
    </div>
</div>
<%- include('../components/modals/remark', {refid: ''}) -%>
<!-- Footer Template -->
<%- include('../views/footer', { scripts: { 'assignedtome': '/assets/js/assignedtome.js' } }) -%>