<!-- Header Template -->
<%- include('../../views/header') -%>
<div class="wrapper">
    <%- include('../../views/sidebar') -%>

    <div class="main-panel">
        <%- include('../../views/main-header') -%>

        <div class="container">
          <div class="page-inner">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
                <div>
                    <h3 class="fw-bold mb-3"><%- title -%></h3>
                    <h6 class="op-7 mb-2">Lists of Digital Documents</h6>
                </div>
                <div class="ms-md-auto py-2 py-md-0">
                    <a id="manageBtn" href="#" class="btn btn-label-info btn-round me-2" data-component="employees" data-column="8">Manage</a>
                    <a href="#" class="btn btn-primary btn-round" data-bs-toggle="modal" data-bs-target="#addEmployeeModal"><i class="fas fa-plus"></i> Add New</a>
                </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <!-- <h4 class="card-title">List of Employees</h4> -->
                    <div class="card-head-row card-tools-still-right">
                      <div class="card-title">List of <%=title%></div>
                      <div class="card-tools">
                        <button id="refreshEmployees" class="btn btn-icon btn-link btn-primary btn-xs btn-refresh-card" data-component="employees">
                          <span class="fa fa-sync-alt"></span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div id="calendar"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- Employee Modal: Upload -->
<%- include('../../components/modals/documents/upload') -%>
<!-- Footer Template -->
<%- include('../../views/footer') -%>