<%
const { analysisData, analysisDataReplies } = analysis
let { total_rows, draft_rows, outgoing_rows } = analysisData
let { total_rows: totalReplies, replies } = analysisDataReplies

let draftPercentage = (Number(draft_rows || 0) / total_rows || 0) * 100
let outgoPercentage = (Number(outgoing_rows) / total_rows || 0) * 100

let repliPercentage = (Number(replies) / totalReplies || 0) * 100

draftPercentage = draftPercentage.toFixed(0)
outgoPercentage = outgoPercentage.toFixed(0)
repliPercentage = repliPercentage.toFixed(0)

const { username } = SESSION_USER
%>

<!-- Header Template -->
<%- include('../../views/header') -%>
<div class="wrapper">
    <%- include('../../views/sidebar') -%>

    <div class="main-panel">
        <%- include('../../views/main-header') -%>

        <div class="container" data-analysis="<%=JSON.stringify({ total_rows, draft_rows, outgoing_rows, replies })%>">
          <div class="page-inner">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
                <div>
                    <h3 class="fw-bold mb-3"><%- title -%></h3>
                    <h6 class="op-7 mb-2">Lists of Digital Documents</h6>
                </div>
                <div class="ms-md-auto py-2 py-md-0">
                    <a id="manageBtn" href="/qrscanner" class="btn btn-label-info btn-round me-2" data-component="employees" data-column="8"><i class="fas fa-qrcode"></i> Scan QRCode</a>
                    <a href="#" class="btn btn-primary btn-round" data-bs-toggle="modal" data-bs-target="#createDocumentTracker"><i class="fas fa-plus"></i> Add New</a>
                </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="card">
                  <div class="card-body p-3 text-center">
                    <div class="text-end text-success">
                      <%=draftPercentage%>%
                      <i class="fa fa-chevron-up"></i>
                    </div>
                    <div class="h1 m-0"><%=draft_rows || 0%></div>
                    <div class="text-muted mb-3">Incoming</div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <div class="card-body p-3 text-center">
                    <div class="text-end text-danger">
                      <%=outgoPercentage%>%
                      <i class="fa fa-chevron-down"></i>
                    </div>
                    <div class="h1 m-0"><%=outgoing_rows || 0%></div>
                    <div class="text-muted mb-3">Outgoing</div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <div class="card-body p-3 text-center">
                    <div class="text-end text-success">
                      <%=repliPercentage%>%
                      <i class="fa fa-chevron-up"></i>
                    </div>
                    <div class="h1 m-0"><%=replies || 0%></div>
                    <div class="text-muted mb-3">New Replies</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <!-- <h4 class="card-title">List of Employees</h4> -->
                    <div class="card-head-row card-tools-still-right">
                      <div class="card-title">List of <%=title%></div>
                      <div class="card-tools">
                        <button id="refreshEmployees" class="btn btn-icon btn-link btn-primary btn-xs btn-refresh-card" data-component="employees">
                          <span class="fa fa-sync-alt"></span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table
                        id="documentsDataTables"
                        class="datatables display table table-striped table-hover"
                        data-sort="desc"
                        data-hide-columns="0,3"
                      >
                        <thead>
                          <tr>
                            <th data-id="0">ID</th>
                            <th data-id="1">Title</th>
                            <th data-id="2">Priority</th>
                            <th data-id="3">Attachments</th>
                            <th data-id="4">Created At</th>
                            <th data-id="5">Created By</th>
                            <th data-id="6">Action</th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr class="text-uppercase">
                            <th data-id="0">ID</th>
                            <th data-id="1">Title</th>
                            <th data-id="2">Priority</th>
                            <th data-id="3">Attachments</th>
                            <th data-id="4">Created At</th>
                            <th data-id="5">Created By</th>
                            <th data-id="6">Action</th>
                          </tr>
                        </tfoot>
                        <tbody>
                          <%
                            if(displayData.length > 0) {
                              displayData.forEach(function(data){
                                const {id, title, priority, status, created_at, created_by} = data
                          %>
                            <tr data-document="<%=JSON.stringify(data)%>">
                              <td data-id="0"><%= id %></td>
                              <td data-id="1"><%= title %></td>
                              <td data-id="2"><span class="badge badge-<%=priority=='special' ? 'info' : (priority=='confidential' ? 'danger' : 'warning') %>"><%= priority %></span></td>
                              <td data-id="3">Attachments</td>
                              <td data-id="4"><span class="badge badge-<%=status=='draft' ? 'count' : (status=='outgoing' ? 'success' : 'warning') %>"><%=status%></span> <%= moment(created_at).format('LLL @H:m:s') %></td>
                              <td data-id="5"><%= created_by %></td>
                              <td data-id="6">
                              <% if (priority === 'confidential' && created_by !== username ) { %>
                                <a href="#" data-id="<%=id%>" type="button" class="btn btn-link btn-primary btn-lg" data-bs-placement="top" data-bs-title="View Locked" data-bs-toggle="modal" data-bs-target="#checkPasscodeModal">
                                  <i class="fa fa-lock"></i>
                                </a>
                              <% } else { %>
                                <a href="/documents/<%= id %>" data-id="<%=id%>" type="button" class="btn btn-link btn-primary btn-lg" data-original-title="View" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="View">
                                  <i class="fa fa-eye"></i>
                                </a>
                              <% } %>
                              </td>
                            </tr>
                          <% }) } else { %>
                          <tr>
                            <td class="text-center" colspan="5">No Available Records</td>
                          </tr>
                          <% } %>
                          
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- Employee Modal: Create -->
<%- include('../../components/modals/documents/create') -%>
<!-- Employee Modal: Passcode -->
<%- include('../../components/modals/passcode') -%>
<!-- Footer Template -->
<%- include('../../views/footer') -%>