<% const spaces = (classes == 'division') ? '' : (classes == 'section') ? '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' : (classes == 'unit') ? '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' : '' 
    stands = spaces + '' + stands
%>
<option
    class="<%= classes %>"
    value="<%= key %>" 
    <%= (dataset.length > 0) ? `data-${dataset[0]}=${dataset[1]}` : '' %>
    <%= (filtered===key) ? 'selected' : '' %>
    >
    <%- stands %>
</option> 